<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS Game</title>
</head>
<body>
    <h1>Paul's Super Fun Game</h1>
    <p>Get ready for THE most exciting game since PUBG!</p>
    <h2>Prepare for battle, Peons!</h2> 

    {{ game_result }}
    
</body>
</html>       
        <!-- <form action="/result" method='POST'>Play the game!</form>
        <label for="player_1_choice">Choose your weapon, zero!</label>
        <select name="player1_weapon" id="player_1_choice">
            <option value="">-- Choose your weapon --</option>
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
        <label for="player-2-choice">Choose YOUR weapon, other zero!</label>
        <select name="player2_weapon" id="player_2_choice">
            <option value="">-- Choose your weapon --</option>
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
        <input type="submit"> -->
